.hack-background>img {
  height: 2vh;
}

ion-img::part(image) {
  height: 68vh;
  width: 51vh;
}

ion-modal.movie-info {
  color: yellow;
  --height: 100vh;
  --width: 100%;
}

ion-modal#test {
  color: red;
  --width: 100vh;
  width: 100%;
}